apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "mapstore.fullname" . }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  {{- if .Values.ingress.tlsEnabled }}
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: {{ include "mapstore.fullname" . }}-tls
  {{- end }}
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: {{ .Values.ingress.path }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ include "mapstore.fullname" . }}
            port:
              number: {{ .Values.ingress.backendServicePort }}
