<Context>

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
    <Manager pathname="" />
    -->

    <!-- Uncomment this to enable Comet connection tacking (provides events
         on session expiration as well as webapp lifecycle) -->
    <!--
    <Valve className="org.apache.catalina.valves.CometConnectionManagerValve" />
    -->

    <Resource
     name="jdbc/postgres" auth="Container" type="javax.sql.DataSource"
     driverClassName="org.postgresql.Driver"
     url="jdbc:postgresql://127.0.0.1:5432/geoserver"
     username="geoserver" password="geoserver"
     initialSize="0" maxTotal="20" maxIdle="5" maxWaitMillis="2000" minIdle="0"
     timeBetweenEvictionRunsMillis="30000"
     minEvictableIdleTimeMillis="60000"
     validationQuery="SELECT 1"
     maxAge="600000"
     rollbackOnReturn="true"
     />
</Context>

